* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3a49;
}
.container {
  height: 10rem;
  width: 22rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
h1 {
  color: #f87139;
}
.time {
  font-size: 2.5rem;
  font-weight: 900;
}
.days {
  font-size: 1.2rem;
  color: rgb(82, 80, 80);
}
